# Node build artifacts
node_modules
npm-debug.log

#Local Dockerfiles
data

# application things
**/yarn-error.log

# other
.DS_Store

#Google drive
*.ini

# R Studio
*.Rproj

**/*.pyc
.python-version
**/*.zip
pyrightconfig.json
archive/
tmp/
.Rproj.user
